<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">

    <style>
        /* select自訂下拉樣式 */
        .select-arrow {
            background-image: url(./images/keyboard_arrow_down-black-18dp.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: right;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            line-height: 19px;
        }
    </style>
</head>

<body>
    <div id="app" class="py-3 bg-light">
        <!-- loading 套件 start -->
        <loading :active.sync="isLoading"></loading>
        <!-- loading 套件 end -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h1 class="text-center">表單驗證</h1>

                    <!-- validation-observer 驗證整體表單 -->
                    <validation-observer v-slot="{ invalid }">
                        <!-- 表單送出改為使用 form submit 的方法 -->
                        <form @submit.prevent="submitForm">
                            <!-- 姓名 -->
                            <div class="form-group">
                                <validation-provider rules="required" class="form-group" tag="div"
                                    v-slot="{ errors, classes, passed }">

                                    <label for="inputName" class="font-weight-bold">收件人姓名</label>
                                    <input type="text" class="form-control" :class="classes" id="inputName"
                                        placeholder="Enter name" v-model='customer.name'>
                                    <!-- 錯誤訊息 -->
                                    <span class="invalid-feedback">{{ errors[0] }}</span>

                                </validation-provider>
                            </div>
                            <!-- email -->
                            <div class="form-group">
                                <validation-provider rules="required|email" class="form-group" tag="div"
                                    v-slot="{ errors, classes, passed }">
                                    <!-- 輸入框 -->
                                    <label for="inputEmail" class="font-weight-bold">Email</label>
                                    <input id="inputEmail" type="email" name="email" v-model="customer.email"
                                        class="form-control" :class="classes">
                                    <!-- 錯誤訊息 -->
                                    <span class="invalid-feedback">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                            <!-- 電話 -->
                            <div class="form-group">
                                <validation-provider rules="required|min:8|numeric" class="form-group" tag="div"
                                    v-slot="{ errors, classes, passed }">
                                    <!-- 輸入框 -->
                                    <label for="inputTel" class="font-weight-bold">電話</label>
                                    <input id="inputTel" type="tel" name="tel" v-model="customer.tel"
                                        class="form-control" :class="classes">
                                    <!-- 錯誤訊息 -->
                                    <span class="invalid-feedback">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                            <!-- 地址 -->
                            <div class="form-group">
                                <validation-provider rules="required" class="form-group" tag="div"
                                    v-slot="{ errors, classes, passed }">
                                    <!-- 輸入框 -->
                                    <label for="inputAddress" class="font-weight-bold">地址</label>
                                    <input id="inputAddress" type="text" name="tel" v-model="customer.address"
                                        class="form-control" :class="classes">
                                    <!-- 錯誤訊息 -->
                                    <span class="invalid-feedback">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                            <!-- 付款方式 -->
                            <div class="form-group">
                                <validation-provider rules="required" class="form-group" tag="div"
                                    v-slot="{ errors, classes, passed }">
                                    <label for="paymentSelect" class="font-weight-bold">購買方式</label>
                                    <select class="select-arrow form-control " id="paymentSelect"
                                        v-model="customer.payment" :class="classes">
                                        <!-- <option >請選擇付款方式</option> -->
                                        <option value selected disabled hidden>請選擇付款方式</option>
                                        <option value="WebATM">WebATM</option>
                                        <option value="ATM">ATM</option>
                                        <option value="Barcode">Barcode</option>
                                        <option value="Credit">Credit</option>
                                        <option value="ApplePay">ApplePay</option>
                                        <option value="GooglePay">GooglePay</option>
                                    </select>
                                    <!-- 錯誤訊息 -->
                                    <span class="invalid-feedback">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                            <!-- 留言 -->
                            <div class="form-group">
                                <label for="formMessage" class="font-weight-bold">留言</label>
                                <textarea class="form-control" id="formMessage" rows="3"
                                    v-model="customer.message"></textarea>
                            </div>

                            <!-- 送出表單使用 submit 的方法，如果驗證未通過則 disabled 該按鈕 -->
                            <button type="submit" class="btn btn-primary" :disabled="invalid">送出表單</button>
                        </form>
                    </validation-observer>

                </div>
            </div>
        </div>


    </div>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

    <script type="module">
        // 匯入語系檔案
        import zh_TW from './zh.js';
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading);

        // 將 VeeValidate input 驗證工具載入 作為全域註冊
        Vue.component('ValidationProvider', VeeValidate.ValidationProvider);

        // 將 VeeValidate 完整表單 驗證工具載入 作為全域註冊
        Vue.component('ValidationObserver', VeeValidate.ValidationObserver);
        // Class 設定檔案
        VeeValidate.configure({
            classes: {
                valid: 'is-valid',
                invalid: 'is-invalid',
            }
        });
        // 加入至 VeeValidate 的設定檔案
        VeeValidate.localize('tw', zh_TW);

        

        var app = new Vue({
            el: '#app',
            data: {
                user: {
                    uuid: '326aaf6a-8ca5-4a46-b815-11a755b4a30c',
                    path: 'https://course-ec-api.hexschool.io' ,
                },
                customer: {
                    name: '',
                    email: '',
                    tel: '',
                    address: '',
                    payment: '',
                    message: '',
                },
                isLoading:false,

            },
            methods: {
                submitForm() {
                    //新增一筆訂單 POST api/{uuid}/ec/orders
                    // let vm = this;
                    // this.isLoading=true;
                    // const url= `${this.user.path}/api/${this.user.uuid}/ec/orders`;
                
                    // axios.post(url, this.customer)
                    // .then((response) => {
                    //     if (response.data.data.id) {
                    //         this.isLoading = false;
                    //         console.log('success');
                    //     }
                    // })
                    // .catch((error) => {
                    //     this.isLoading = false;
                    //     console.log('error');
                    // });
                    console.log('表單已送出');
                
                },
                // getOrder(){
                //     //GET api/{uuid}/ec/orders
                //     const url= `${this.user.path}/api/${this.user.uuid}/ec/orders`;
                //     axios.get(url)
                //     .then((res) =>{
                //     console.log(res);
                //     console.log('success');
                //     });
                // }
            }
        })
    </script>
</body>

</html>